In [1]:
# Importing suitable libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
lE = LabelEncoder()

In [4]:
data = {"name": ["Aman", "John", "Joe", "John"]}
data = pd.DataFrame(data)

In [5]:
data

   name
0  Aman
1  John
2   Joe
3  John

In [6]:
data["labeled name"] = lE.fit_transform(data.name)

In [7]:
data

   name  labeled name
0  Aman             0
1  John             2
2   Joe             1
3  John             2