In [8]:
# Importing suitable libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

### Here we created a dictionary that will work for our data so that we can perform One Hot Encoding

In [9]:
data = {"name": ["Aman", "John", "Joe", "John"]}
data = pd.DataFrame(data)

In [10]:
data

   name
0  Aman
1  John
2   Joe
3  John

### We have One Hot encoding that will represent our data in binary representation

In [11]:
data = pd.get_dummies(data, prefix=["firstName"], columns=["name"])
data.head

<bound method NDFrame.head of    firstName_Aman  firstName_Joe  firstName_John
0               1              0               0
1               0              0               1
2               0              1               0
3               0              0               1>