In [11]:
# Importing suitable libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
oHE = OneHotEncoder()

In [14]:
data = {"name": ["Aman", "John", "Joe", "John", "Max"]}
data = pd.DataFrame(data)

In [15]:
oHE.fit_transform(data[["name"]]).toarray()

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [17]:
dataTemp = pd.DataFrame(oHE.fit_transform(data[["name"]]).toarray())

In [18]:
dataTemp

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  1.0  0.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  1.0

In [20]:
encodedData = pd.concat([data, dataTemp], axis=1)
encodedData

   name    0    1    2    3
0  Aman  1.0  0.0  0.0  0.0
1  John  0.0  0.0  1.0  0.0
2   Joe  0.0  1.0  0.0  0.0
3  John  0.0  0.0  1.0  0.0
4   Max  0.0  0.0  0.0  1.0