In [1]:
# Importing suitable libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('/home/amandeep/Documents/DataAnalysis/dataset/archive/feature_encoding.csv')

In [3]:
data.head()

,CUSTID,PAYMENT_MODE_CARD,CITY,RATING,EDUCATION,PURCHAGE_AMOUNT,CUSTOMER_TYPE
0,1,Y,A,extremely like,phd,200,Premium
1,2,N,A,like,ms,100,NonPremium
2,3,Y,C,neutral,bs,130,NonPremium
3,4,Y,B,extremely dislike,bs,120,NonPremium
4,5,Y,D,extremely like,ms,160,Premium

## Frequency Encoding

In [9]:
# As we can see that our City is in alphabet so we encode it that it will be used in out prediction midels
data.groupby('CITY').size()

CITY
A    10
B     9
C     4
D     3
dtype: int64

In [13]:
# Now we will store it in a varibale 

tempVar = data.groupby("CITY").size()/len(data)
tempVar

CITY
A    0.384615
B    0.346154
C    0.153846
D    0.115385
dtype: float64

In [14]:
# Now we will create a new column in we will store these calues in from of number

data['CityEncoded'] = data['CITY'].map(tempVar)
data

,CUSTID,PAYMENT_MODE_CARD,CITY,RATING,EDUCATION,PURCHAGE_AMOUNT,CUSTOMER_TYPE,CityEncoded
0,1,Y,A,extremely like,phd,200,Premium,0.384615
1,2,N,A,like,ms,100,NonPremium,0.384615
2,3,Y,C,neutral,bs,130,NonPremium,0.153846
3,4,Y,B,extremely dislike,bs,120,NonPremium,0.346154
4,5,Y,D,extremely like,ms,160,Premium,0.115385
5,6,N,C,like,ms,170,NonPremium,0.153846
6,7,Y,B,dislike,bs,130,NonPremium,0.346154
7,8,N,A,neutral,ms,127,NonPremium,0.384615
8,9,Y,C,like,phd,157,NonPremium,0.153846
9,10,N,D,dislike,ms,182,Premium,0.115385
10,11,Y,A,neutral,bs,147,Premium,0.384615
11,12,N,B,like,phd,139,NonPremium,0.346154
12,13,Y,C,neutral,ms,128,NonPremium,0.153846
13,14,N,A,extremely like,ms,190,Premium,0.384615
14,15,Y,B,dislike,bs,170,Premium,0.346154
15,16,Y,D,extremely dislike,bs,175,Premium,0.115385
16,17,Y,B,like,ms,184,Premium,0.346154
17,18,Y,B,extremely like,phd,188,NonPremium,0.346154
18,19,N,A,neutral,bs,193,Premium,0.384615
19,20,N,A,dislike,bs,173,NonPremium,0.384615
20,21,Y,B,neutral,ms,170,NaN,0.346154
21,22,Y,A,dislike,phd,175,NaN,0.384615
22,23,Y,B,like,bs,184,NaN,0.346154
23,24,Y,B,extremely like,ms,188,NaN,0.346154
24,25,N,A,neutral,ms,193,NaN,0.384615
25,26,N,A,extremely dislike,bs,173,NaN,0.384615